<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title>관리자 페이지</title>
</head>
<body>
<div layout:fragment="content" class="admin-content-area">
    <div class="admin-main-header">
        <h2>관리자 대시보드</h2>
    </div>
    <div class="admin-main-body">
        <div class="member-section">
            <div class="member-row">
                <div class="member-card">
                    <a href="https://github.com/LeeJuheonT6138" target="_blank">
                        <img src="https://github.com/LeeJuheonT6138.png" alt="이주헌"/>
                        <div class="member-card-name">이주헌</div>
                    </a>
                </div>
                <div class="member-card">
                    <a href="https://github.com/HJin-00" target="_blank">
                        <img src="https://github.com/HJin-00.png" alt="김현진"/>
                        <div class="member-card-name">김현진</div>
                    </a>
                </div>
                <div class="member-card">
                    <a href="https://github.com/GW000" target="_blank">
                        <img src="https://github.com/GW000.png" alt="임건우"/>
                        <div class="member-card-name">임건우</div>
                    </a>
                </div>
                <div class="member-card">
                    <a href="https://github.com/song-sang-jin" target="_blank">
                        <img src="https://github.com/song-sang-jin.png" alt="송상진"/>
                        <div class="member-card-name">송상진</div>
                    </a>
                </div>
            </div>

            <div class="member-row">
                <div class="member-card">
                    <a href="https://github.com/MonaLisaSy" target="_blank">
                        <img src="https://github.com/MonaLisaSy.png" alt="유지석"/>
                        <div class="member-card-name">유지석</div>
                    </a>
                </div>
                <div class="member-card">
                    <a href="https://github.com/gunheecha" target="_blank">
                        <img src="https://github.com/gunheecha.png" alt="차건희"/>
                        <div class="member-card-name">차건희</div>
                    </a>
                </div>
                <div class="member-card">
                    <a href="https://github.com/spdlqjxp" target="_blank">
                        <img src="https://github.com/spdlqjxp.png" alt="박진환"/>
                        <div class="member-card-name">박진환</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
