<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/tag}">

<head>
  <title>태그 등록</title>
  <link rel="stylesheet" th:href="@{/css/paging.css}">
</head>

<body>
<main class="container mt-4 flex-grow-1" layout:fragment="content">
  <div class="container">
    <h2>태그 목록</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>태그 ID</th>
        <th>태그이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cat : ${tags}">
        <td th:text="${cat.tagId}">1</td>
        <td th:text="${cat.tagName}">태그명</td>
        <td>
          <a th:href="@{'/admin/tag/modify/' + ${cat.tagId}}" class="btn btn-sm btn-warning me-2">수정</a>

          <form th:action="@{/admin/tag/remove}" method="post" style="display:inline;">
            <input type="hidden" name="tagId" th:value="${cat.tagId}" />
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

    <ul class="pagination justify-content-center mt-4" th:if="${totalPages > 1}">
      <!-- 이전 버튼 -->
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link"
           th:href="@{/admin/tags(page=${currentPage - 1})}">«</a>
      </li>

      <!-- 페이지 번호 목록 -->
      <li class="page-item"
          th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
          th:classappend="${pageNum == currentPage} ? 'active'">
        <a class="page-link"
           th:href="@{/admin/tags(page=${pageNum})}"
           th:text="${pageNum + 1}"></a>
      </li>

      <!-- 다음 버튼 -->
      <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
        <a class="page-link"
           th:href="@{/admin/tags(page=${currentPage + 1})}">»</a>
      </li>
    </ul>

  </div>
</main>
</body>
</html>
