<!-- templates/admin/policies/add.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title layout:fragment="title">태그 추가</title>
</head>
<body>
<main layout:fragment="content" class="admin-content-area">
    <div class="admin-main-header">
        <h2>태그 추가</h2>
        <p>태그를 추가하는 페이지</p>
    </div>
    <div class="admin-main-body">
        <div class="admin-section-container">
            <div class="admin-section-header">
                <div class="right-group">
                    <form th:action="@{/admin/tags}" method="get" style="display: inline;">
                        <button type="submit" class="btn-admin btn-secondary">목록으로 돌아가기</button>
                    </form>
                </div>
            </div>
            <div class="admin-section-body">
                <form th:action="@{/admin/tag/register}" method="post">
                    <div class="form-group mb-3">
                        <label for="tagName" class="form-label">태그 이름</label>
                        <input type="text" class="form-control" id="tagName" name="tagName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">등록</button>
                    <a th:href="@{/admin/tags}" class="btn btn-secondary">취소</a>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
