<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <header class="header-container d-flex justify-content-between align-items-end px-4 py-3">
        <div class="branding">
            <a th:href="@{/}" class="logo fw-bold fs-4">📚두드림 책방</a>
        </div>

        <nav class="menu d-flex align-items-center gap-4">
            <a th:href="@{/category/all}" class="nav-item">전체 도서</a>
            <a th:href="@{/auth/guest}" class="nav-item">비회원 주문 목록</a>
            <a th:href="@{/contact}" class="nav-item">쿠폰</a>
            <a th:href="@{/mypage}" class="nav-item">마이페이지</a>
            <a th:href="@{/admin}" class="nav-item">관리자</a>
            <!-- 로그인 여부에 따라 출력 분기 -->
            <div th:if="${user != null}" class="d-flex align-items-center gap-3 nav-item fw-semibold">
                <span class="username" th:text="|${user.name}님 반갑습니다!|"></span>

                <a href="#" class="nav-item" onclick="document.getElementById('logoutForm').submit(); return false;">로그아웃</a>

                <form id="logoutForm" th:action="@{/auth/logout}" method="post" style="display: none;"></form>
            </div>
            <a th:if="${user == null}" th:href="@{/auth/signup-form}" class="nav-item">회원가입</a>
            <a th:if="${user == null}" th:href="@{/auth/login-form}" class="nav-item">로그인</a>
            <a th:href="@{/cart}" class="nav-item">장바구니🛒</a>
        </nav>
    </header>
    <nav class="navbar navbar-expand-lg " style="background-color: #ffffff;" data-bs-theme="light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">분야보기</a>
                        <ul class="dropdown-menu">
                            <li th:each="entry : ${categories}">
                                <div class="p-3">
                                    <a class="fw-bold text-decoration-none parent-category"
                                       th:href="@{'/categories/' + ${entry.key.categoryId}}"
                                       th:text="${entry.key.categoryName}"></a>
                                    <ul class="list-unstyled mt-2">
                                        <li th:each="child : ${entry.value}">
                                            <a class="dropdown-item"
                                               th:href="@{'/categories/' + ${child.categoryId}}"
                                               th:text="${child.categoryName}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/1}" role="button" aria-disabled="true">베스트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/2}" role="button" aria-disabled="true">신상품</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/3}" role="button" aria-disabled="true">추천도서</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>