<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<body>
<!-- templates/fragments/header.html -->
<div th:fragment="header">
    <header class="header-container d-flex justify-content-between align-items-end px-4 py-3">
        <div class="branding">
            <div>
                <img src="/images/logo-32x32.png">
                <a th:href="@{/}" class="logo fw-bold fs-4" th:text="#{site.name}"></a>
            </div>
        </div>

        <nav class="menu d-flex align-items-center gap-4">
            <a th:href="@{/auth/guest}" class="nav-item" sec:authorize="isAnonymous()" th:text="#{nav.guest_order}"></a>
            <a th:href="@{/mypage}" class="nav-item" sec:authorize="isAuthenticated()" th:text="#{nav.my_page}"></a>
            <a th:href="@{/admin}" class="nav-item" sec:authorize="hasRole('ADMIN')" th:text="#{nav.admin_page}"></a>
            <th:block sec:authorize="isAuthenticated()">
                <span class="username" th:if="${user != null}" th:text="#{nav.welcome.account(${user.name})}"></span>

                <a href="#" class="nav-item" onclick="document.getElementById('logoutForm').submit(); return false;" th:text="#{nav.logout}"></a>

                <form id="logoutForm" th:action="@{/auth/logout}" method="post" style="display: none;"></form>
            </th:block>
            <a th:href="@{/auth/signup-form}" class="nav-item" sec:authorize="isAnonymous()" th:text="#{nav.signup}"></a>
            <a th:href="@{/auth/login-form}" class="nav-item" sec:authorize="isAnonymous()" th:text="#{nav.login}"></a>
            <a th:href="@{/cart}" class="nav-item" th:text="#{nav.cart}"></a>
        </nav>
    </header>
    <nav class="navbar navbar-expand-lg " style="background-color: #ffffff;" data-bs-theme="light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{nav.home}"></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" th:text = "#{nav.category}"></a>
                        <ul class="dropdown-menu">
                            <li th:each="entry : ${categories}">
                                <div class="p-3">
                                    <a class="fw-bold text-decoration-none parent-category"
                                       th:href="@{'/categories/' + ${entry.key.categoryId}}"
                                       th:text="${entry.key.categoryName}"></a>
                                    <ul class="list-unstyled mt-2">
                                        <li th:each="child : ${entry.value}">
                                            <a class="dropdown-item"
                                               th:href="@{'/categories/' + ${child.categoryId}}"
                                               th:text="${child.categoryName}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/1}" role="button" aria-disabled="true" th:text="#{nav.tag.best}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/2}" role="button" aria-disabled="true" th:text="#{nav.tag.new}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/tags/3}" role="button" aria-disabled="true" th:text="#{nav.tag.recommend}"></a>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="get" action="/search">
                    <input class="form-control me-2" type="search" name="keyword" placeholder="Search"
                           aria-label="Search" required/>
                    <button class="btn btn-outline-success" type="submit" th:text="#{nav.search}" style="width: 70px;"></button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>