<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title layout:fragment="title">쿠폰 정책 관리</title>
</head>
<body>
<main layout:fragment="content" class="admin-content-area">

    <div class="admin-main-header">
        <h2>쿠폰 정책 관리</h2>
        <p>쿠폰 정책을 관리하는 페이지</p>
    </div>
    <div class="admin-main-body">
        <div class="admin-section-container">
            <div class="admin-section-header">
                <div class="right-group">
                    <div>
                        <button type="button" class="btn-admin btn-primary" onclick="location.href='/admin/policies/add'">쿠폰 정책 생성</button>
                        <button type="button" class="btn-admin btn-secondary" onclick="location.href='/admin/coupons'">전체 쿠폰 목록</button>
                        <button type="button" class="btn-admin btn-info" onclick="location.href='/admin/user-coupons/issue'">유저 쿠폰 발급</button>
                    </div>
                </div>
            </div>
            <div class="admin-section-body">
                <table class="table table-admin">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>이름</th>
                        <th>할인 유형</th>
                        <th>할인 값</th>
                        <th>최소 구매 금액</th>
                        <th>최대 할인 금액</th>
                        <th>고정 만료일</th>
                        <th>사용 기한일</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="policy : ${policies}">
                        <td th:text="${policy.id}"></td>
                        <td th:text="${policy.name}"></td>
                        <td th:text="${policy.discountType}"></td>
                        <td th:text="${policy.discountValue}"></td>
                        <td th:text="${policy.minPurchaseAmount}"></td>
                        <td th:text="${policy.maxDiscountAmount}"></td>
                        <td th:text="${policy.fixedDate != null ? #temporals.format(policy.fixedDate, 'yyyy-MM-dd') : '없음'}"></td>
                        <td th:text="${policy.plusDay != null ? policy.plusDay + '일' : '없음'}"></td>
                        <td>
                            <button type="button" class="btn-admin btn-info btn-sm" th:onclick="'location.href=\'/admin/policies/' + ${policy.id} + '\''">상세</button>
                            <button type="button" class="btn-admin btn-primary btn-sm" th:onclick="'location.href=\'/admin/policies/edit/' + ${policy.id} + '\''">수정</button>
                            <form th:action="@{/admin/policies/delete/{id}(id=${policy.id})}" method="post" style="display:inline;">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="btn-admin btn-danger btn-sm">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>