<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <meta charset="UTF-8">
  <title>두드림 책방</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- 도서 목록 영역 -->
<div layout:fragment="content" class="booklist-container" style="display: flex; position: relative;">
  <div class="booklist-content" style="flex: 1; padding: 20px;">
      <div class="book-grid">
        <div th:each="book : ${books}" class="book-card">
          <a th:href="@{/books/{id}(id=${book.bookId})}">
            <img th:src="@{${book.bookUrl}}" th:alt="${book.title}" class="img-fluid mb-2" />
          </a>
          <h3 th:text="${book.title}">책 제목</h3>
          <p th:text="${book.author}">작가</p>
          <span th:text="|₩${#numbers.formatInteger(book.salePrice, 0, 'COMMA')}|">₩0</span>
          <form th:action="@{/cart/add}" method="post">
            <input type="hidden" name="bookId" th:value="${book.bookId}" />
            <button type="submit">장바구니 담기</button>
          </form>
        </div>
      </div>



      <!-- 페이지네이션 -->
      <div>
        <a th:if="${currentPage > 0}"
           th:href="@{|/tags/${tagId}?page=${currentPage - 1}|}">이전</a>

        <span th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>

        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{|/tags/${tagId}?page=${currentPage + 1}|}">다음</a>
      </div>
  </div>
</div>
</body>
</html>