<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>404 - 페이지 없음</title>
</head>
<body>
<main layout:fragment="content" class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="error-container text-center">
        <h1 class="display-4 fw-bold text-danger">404</h1>
        <p class="fs-4" >페이지를 찾을 수 없습니다.</p>
        <p class="text-muted">주소가 잘못되었거나, 삭제된 페이지일 수 있어요.</p>
        <a href="/" class="btn btn-primary mt-3">홈으로 가기</a>
    </div>
</main>
</body>
</html>
