<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
<head>
    <title>쿠폰 추가</title>
</head>
<body>
<div layout:fragment="content" class="admin-content-area">
    <div class="admin-main-header">
        <h2>새 쿠폰 추가</h2>
        <p>새로운 쿠폰을 생성하는 페이지</p>
    </div>
    <div class="admin-main-body">
        <div class="admin-section-container">
            <div class="admin-section-body">
                <form th:action="@{/admin/coupons/add}" method="post">
                    <div class="form-group">
                        <label for="policyId">정책:</label>
                        <select id="policyId" name ="policyId" class="form-control" required>
                            <option value="">정책 선택</option>
                            <option th:each="policy : ${couponPolicies}" th:value="${policy.id}" th:text="${policy.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isbn">도서 ISBN (선택 사항):</label>
                        <input type="text" id="isbn" name ="isbn" class="form-control"
                               pattern="\d{13}" title="13자리 숫자 ISBN만 입력 가능합니다." maxlength="13" minlength="13">
                    </div>
                    <div class="form-group">
                        <label for="selectedCategoryId">카테고리 ID (선택 사항):</label>
                        <input type="hidden" id="categoryJsonData" th:value="${categoryJson}" />
                        <div id="category-select-wrapper" class="d-flex gap-2"></div>
                        <input type="hidden" name="categoryId" id="selectedCategoryId" />
                    </div>
                    <button type="submit" class="btn btn-success">쿠폰 추가</button>
                    <a th:href="@{/admin/coupons}" class="btn btn-secondary">목록으로 돌아가기</a>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script type="module" src="/js/category-select.js"></script>
</th:block>
</body>
</html>